body{
    background-color: #00b4d8;
}
h3{
    color: yellow;
    font-size: 1.5em;
    text-align: center;
}.contteambusquedas{
  background-color: #005f73;
  display: flex;
  width: 100%;
  padding: 2em 0;
  padding-top: 4em;
}
.contteambusquedas h3{
  color: yellow;
  font-size: 1.7em;
  padding-bottom: .5em;
}
.lista{
  border-color: #005f73;
  border-right-color: #0ecef5;
  border-width: 1em;
  border-style: double;
  display: block;
  width: 35%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: .5em 0;
}
.search{
  border-color: #005f73;
  border-left-color: #0ecef5;
  border-width: 1em;
  border-style: double;
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: .5em 0;
}

.searchbar, .searchbtn{
  margin: 0 auto;
}
.searchbar{
  width: 40%;
  padding-left: .5em;
  height: 2em;
  margin-right: 1em;
  border-radius: 1em;
  border-color: yellow;
}
.searchbtn{
  height: 2em;
  border-radius: 1em;
  color: #005f73;
  width: 20%;
  font-size: 1em;
  font-weight: bolder;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.searchbtn:hover{
  color: #005f73;
  background-color: #0ecef5;
  cursor: pointer;
}
select{
  width: 40%;
  border-color:#0ecef5;
  border-width: .2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 1em;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#resultados{
    background-color: #00b4d8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}/* Aqui comienza la carta */
.card {
    border-radius: 16px;
    margin: 1em auto;
    width: 80%;
    max-width: 100%;
    max-height: 400px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
  
  .info {
    position: relative;
    width: 100%;
    max-height: 400px;
    background-color: #fff;
    transform: translateY(100%)
      translateY(-90px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-110%)
      translateY(90px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title {
    margin: 0;
    padding: 24px;
    font-size: 25px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
    color: #005f73;
    padding-bottom: 5em;
  }
  .description img{
      margin-top: 2em;
      height: 90px;
      width: 120px;
  }
.cardunit{
  display: flex;
  height: auto;
  background-color: #005f73;
  width: 80%;
  padding: 2em 1em;
  border-radius: 1.5em;
  margin: 1em auto;
}
.logocont{
  display: block;
}
.imglogo{
  width: auto;
  height: auto;
}
.infocont{
  display: block;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  margin: 1em auto;
}
.infounit{
  text-align: center;
}
.contteams{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contequipo{
  padding: 1em 0;
  margin: 1em auto;
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  border-radius: 1.5em;
  transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contequipo:hover{
  background-color: #005f73;
  color:white;
  justify-content: center;
  text-align: center;
}
@media (max-width:1000px){
  .contbusqs{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contbusq, .contbusqid, .contbusqcountry{
    width: 80%;
    margin: 1em auto;
  }
  .contteams{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:680px){
  .contteambusquedas{
    padding-top: 1em;
    display: block;
  }
  .lista, .search{
    margin-top: 1em;
    width: 90%;
    border: none;
  }
}