.contteambusquedas{
    background-color: #005f73;
    display: flex;
    width: 100%;
    padding: 2em 0;
    padding-top: 4em;
}
.contteambusquedas h3{
    color: yellow;
    font-size: 1.7em;
    padding-bottom: .5em;
}
.lista{
    border-color: #005f73;
    border-right-color: #0ecef5;
    border-width: 1em;
    border-style: double;
    display: block;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: .5em 0;
}
.search{
    border-color: #005f73;
    border-left-color: #0ecef5;
    border-width: 1em;
    border-style: double;
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: .5em 0;
}

.searchbar, .searchbtn{
    margin: 0 auto;
}
.searchbar{
    width: 40%;
    padding-left: .5em;
    height: 2em;
    margin-right: 1em;
    border-radius: 1em;
    border-color: yellow;
}
.searchbtn{
    height: 2em;
    border-radius: 1em;
    color: #005f73;
    width: 20%;
    font-size: 1em;
    font-weight: bolder;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.searchbtn:hover{
    color: #005f73;
    background-color: #0ecef5;
    cursor: pointer;
}
select{
    width: 40%;
    border-color:#0ecef5;
    border-width: .2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1em;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.teamscontainer{
    background-color: #0ecef5;
}
#teamscontainer{
    background-color: #00b4d8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}
.contequipo{
  padding: 1em 0;
  margin: 1em auto;
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5em;
  background-color: #005f73;
  transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contequipo img{
    max-width: 150px;
}
.contequipo div{
    margin: auto .2em;
}
.contequipo:hover{
  color:white;
  font-size: 1.1em;
}